<ion-header class="ion-no-border" >
  <ion-toolbar>
    <ion-title color="primary" mode="ios">Transacciones</ion-title>

    
      
  </ion-toolbar>
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header>

<ion-content >


  
  <ion-card>
    <ion-card-content class="infinite-scroll-content" class="ion-no-padding">
      <div class="scrollable-section">
        <ion-list class="transactions" *ngIf="pago.length > 0">
          <ion-item-group>
            <ion-item lines="full" *ngFor="let i of pago">
              <!-- Ícono de la izquierda -->
              <ion-thumbnail slot="start" class="ion-text-center">
                <img [src]="'/assets/imgs/' + (i.monto >= 0 ? 'up-right.png' : 'down-left-arrow.png')" />
              </ion-thumbnail>
  
              <!-- Contenido principal -->
              <ion-label>
                <ion-text color="primary">{{ i.departamento }}</ion-text>
                <p>
                  <ion-text>
                    {{ i.fechaPago | date: 'MMM d, y' }}
                  </ion-text>
                </p>
                <p>
                  <ion-text>
                    {{ i.descripcion }}
                  </ion-text>
                </p>
              </ion-label>
  
              <!-- Monto -->
              <ion-text
                slot="end"
                [ngClass]="{
                  'text-positive': i.monto >= 0,
                  'text-negative': i.monto < 0
                }"
              >
                {{ i.monto >= 0 ? '$' + i.monto : '-$' + (i.monto * -1) }}
              </ion-text>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </div>
    </ion-card-content>



    
  </ion-card>
  
  <ion-buttons class="d-flex-center">
    <ion-button shape="full" expand="block" (click)="modalPagos() " >
      Realizar pago
    </ion-button>
    <ion-button *ngIf="isModal" (click)="closeModal()" slot="start">
    </ion-button>    
  </ion-buttons>


</ion-content>