<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="d-flex-center">Agregar/Actualizar Item</ion-title>
      <ion-buttons>
        <ion-button *ngIf="isModal" (click)="closeModal()" slot="start">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="d-flex-center">
    <form class="auth-form" [formGroup]="formItem" (ngSubmit)="submit()">
      <div class="gradient-input">
        <ion-label>departamento</ion-label>
        <ion-input
          formControlName="departamento"
          type="text"
          placeholder="101"
        ></ion-input>
        <div
          class="validators"
          *ngIf="
            formItem.controls.departamento.errors &&
            formItem.controls.departamento.touched
          "
        >
          <div *ngIf="formItem.controls.departamento.errors?.['required']">
            El departamento es requerido
          </div>
        </div>
      </div>

      <div class="gradient-input">
        <ion-label>monto</ion-label>
        <ion-input
          formControlName="monto"
          type="text"
          placeholder="$10.000"
        ></ion-input>
        <div
          class="validators"
          *ngIf="
            formItem.controls.monto.errors && formItem.controls.monto.touched
          "
        >
          <div *ngIf="formItem.controls.monto.errors?.['required']">
            El título es requerido
          </div>
        </div>
      </div>

      <div class="gradient-input">
        <ion-label>cuenta bancaria</ion-label>
        <ion-input
          formControlName="cntaBancaria"
          type="text"
          placeholder="Banco estado"
        ></ion-input>
        <div
          class="validators"
          *ngIf="
            formItem.controls.cntaBancaria.errors &&
            formItem.controls.cntaBancaria.touched
          "
        >
          <div *ngIf="formItem.controls.cntaBancaria.errors?.['required']">
            La cuenta bancaria es requerida
          </div>
        </div>
      </div>

      <div class="gradient-input">
        <ion-label>Descripción</ion-label>
        <ion-textarea
          formControlName="descripcion"
          placeholder="Descripción..."
        ></ion-textarea>
        <div
          class="validators"
          *ngIf="
            formItem.controls.descripcion.errors &&
            formItem.controls.descripcion.touched
          "
        >
          <div *ngIf="formItem.controls.descripcion.errors?.['required']">
            La descripción es requerida
          </div>
        </div>
      </div>
    </form>
  </div>

  <ion-footer>
    <div class="ion-text-center">
      <ion-button class="ion-margin" mode="ios" (click)="submit()" shape="round">
       Guardar cambios
      </ion-button>
    </div>
  </ion-footer>
</ion-content>
