<!-- <app-header></app-header> -->

<ion-content >






<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="transacciones" [routerLink]="['/tabs/transacciones']">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Transacciones</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="servicios" [routerLink]="['/tabs/servicios']">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Quinchos</ion-label>
    </ion-tab-button> -->
    
    <ion-tab-button tab="settings" [routerLink]="['/tabs/settings']">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>

