<ion-content>
  <div class="d-flex-center">
    <form class="auth-form" [formGroup]="form" (keypress.enter)="login()">
      <div class="gradient-input">
        <ion-label>email</ion-label>
        <ion-input
          formControlName="email"
          type="email"  
          placeholder="jhondoe@gmail.com">
        </ion-input>

        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
          <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
          <div *ngIf="form.controls.email.errors?.['email']">El correo es requerido</div>
        </div>
      </div>
  
      <div class="gradient-input">
        <ion-label>Contraseña</ion-label>
        <ion-input formControlName="password" type="password" placeholder="********"></ion-input>
      </div>

      <ion-button ic shape="round" (click)="login()" class="submit"  type="submit" color="primary" [disabled]="form.invalid">
        Iniciar Sesion
      </ion-button>
</form>
  </div>
  
</ion-content>
    